*.tlog
*.filters
*.vcxproj
GeneRPG.sln
*.idb
Debug/vc140.pdb
*.cd
*.dll
Release/GeneRPG.log
*.log
*.pdb
GeneRPG.rc
*.user
*.obj
.vs/GeneRPG/v14/.suo
*.sdf
Release/GeneRPG.iobj
*.ipdb
Debug/GeneRPG.ilk
*.opendb
Debug/GeneRPG.exe
*.exe